
#Header {
 width:330px; 
 height: 50px;
 margin: auto;
 background-color: #00ffcc;   
}

#left{
  width: 10%;
  background-color: #00cccc; 
  float: left;   
}

#right{
  width:90%;
  background-color: #009999;
  float: right;
}

button{
   width: 100px;    
}
