
#Header {
 width:100%;   
 background-color: #00ffcc;   
}

#left{
  width: 10%;
  background-color: #00cccc; 
  float: left;   
}

#right{
  width:90%;
  background-color: #009999;   
}

button{
   width: 100px;    
}
